<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.igalita.gleif.search</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>28DF1888-0791-4045-B691-1D28372AEF25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADA7CD75-1EB4-456B-B384-00306978FBDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>18290A00-1F30-41A1-B06D-A5C845A565BB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>17D04A8A-4FC2-4668-85EE-33B16FEF8413</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3ADA660F-DD31-44CE-A7F4-C4AB57A6637C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48289147-4029-4E0F-BE79-DABB2C57FB21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48289147-4029-4E0F-BE79-DABB2C57FB21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92908855-A494-47AC-B96C-52382DBE36E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E28B0719-489D-44B1-8B41-809C85E451A5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>820AEDB6-F857-4B6C-938E-CFD7F50BD5C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>820AEDB6-F857-4B6C-938E-CFD7F50BD5C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADA7CD75-1EB4-456B-B384-00306978FBDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>18290A00-1F30-41A1-B06D-A5C845A565BB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>17D04A8A-4FC2-4668-85EE-33B16FEF8413</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92908855-A494-47AC-B96C-52382DBE36E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28DF1888-0791-4045-B691-1D28372AEF25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B32891BE-0DB5-40D2-BAD2-FFF20A0FD845</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8CF4CCF-C926-4C49-8915-16184509F97C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8CF4CCF-C926-4C49-8915-16184509F97C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3ADA660F-DD31-44CE-A7F4-C4AB57A6637C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBFD5FD7-D328-4B35-8EF9-AC28E03B2163</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B32891BE-0DB5-40D2-BAD2-FFF20A0FD845</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ionut Galita</string>
	<key>description</key>
	<string>An ultra-fast GLEIF search for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GLEIF Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EBFD5FD7-D328-4B35-8EF9-AC28E03B2163</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:SEARCH_TOOL_URL}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ADA7CD75-1EB4-456B-B384-00306978FBDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"GLEIF Search","arg":"ui"},{"title":"GLEIF API","arg":"api"}]</string>
				<key>keyword</key>
				<string>glv</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>92908855-A494-47AC-B96C-52382DBE36E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>gs</string>
				<key>queuedelaycustom</key>
				<integer>5</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching GLEIF for {query} ...</string>
				<key>script</key>
				<string>php search.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for Legal Entity ...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B32891BE-0DB5-40D2-BAD2-FFF20A0FD845</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ui</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>18290A00-1F30-41A1-B06D-A5C845A565BB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>28DF1888-0791-4045-B691-1D28372AEF25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:quick_open}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>false</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>E28B0719-489D-44B1-8B41-809C85E451A5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>48289147-4029-4E0F-BE79-DABB2C57FB21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>E8CF4CCF-C926-4C49-8915-16184509F97C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>API_URL</key>
					<string>{var:split2}</string>
					<key>SEARCH_TOOL_URL</key>
					<string>{var:split1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3ADA660F-DD31-44CE-A7F4-C4AB57A6637C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:API_URL}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>17D04A8A-4FC2-4668-85EE-33B16FEF8413</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:quick_open}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ui</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>18290A00-1F30-41A1-B06D-A5C845A565BB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>820AEDB6-F857-4B6C-938E-CFD7F50BD5C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An ultra-fast GLEIF search for Alfred</string>
	<key>uidata</key>
	<dict>
		<key>17D04A8A-4FC2-4668-85EE-33B16FEF8413</key>
		<dict>
			<key>xpos</key>
			<integer>1105</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>28DF1888-0791-4045-B691-1D28372AEF25</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>3ADA660F-DD31-44CE-A7F4-C4AB57A6637C</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>48289147-4029-4E0F-BE79-DABB2C57FB21</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>820AEDB6-F857-4B6C-938E-CFD7F50BD5C4</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>92908855-A494-47AC-B96C-52382DBE36E8</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>ADA7CD75-1EB4-456B-B384-00306978FBDB</key>
		<dict>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>B32891BE-0DB5-40D2-BAD2-FFF20A0FD845</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>E8CF4CCF-C926-4C49-8915-16184509F97C</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>EBFD5FD7-D328-4B35-8EF9-AC28E03B2163</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>quick_open</key>
		<string>false</string>
	</dict>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/igalita/alfred-gleif-search</string>
</dict>
</plist>
